/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background-color: lightgray !important;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.floatt {
    float: right !important;
}

.mat-chip-list-wrapper{
    justify-content: space-between !important;
    margin-top: -1rem !important;
    margin-bottom: 1rem !important;
}

.mat-chip{
    color: #ECEDF0;
}

.mat-chip:checked{
    color: #3C26BF;
}